{% load static from staticfiles %} <!--申明加载静态资源模板-->
<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="utf-8">
		<title>会员信息中心</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'myadmin/css/bootstrap.min.css' %}" rel="stylesheet">	
		<link href="{% static 'myadmin/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		<link href="{% static 'myadmin/css/site.css' %}" rel="stylesheet">
		<!--[if lt IE 9]><script src="{% static 'myadmin/js/html5.js' %}"></script><![endif]-->
		<!--富文本编辑器配置-->
		<link rel="stylesheet" type="text/css" href="/ueditor/UE/third-party/SyntaxHighlighter/shCoreDefault.css">
		<script type="text/javascript" src="/ueditor/UE/third-party/SyntaxHighlighter/shCore.js"></script>
		<script type="text/javascript" src="/ueditor/UE/ueditor.config.js"></script>
		<script type="text/javascript" src="/ueditor/UE/ueditor.all.min.js"></script>
		<script type="text/javascript" src="/ueditor/UE/lang/zh-cn/zh-cn.js"></script>
		<script type="text/javascript">
			function doDel(url){
				if(confirm("确定要删除吗？")){
					window.location=url
				}
			}
		</script>
	</head>
	<body>
		<div class="container">
            <!-- 页头开始 -->
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#">会员信息中心</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li class="active">
									<a href="{% url 'myadmin_index' %}">首页</a>
								</li>
								<li>
									<a href="settings.htm">在线设置</a>
								</li>
								<li>
									<a href="help.htm">帮助</a>
								</li>
								<li class="dropdown">
									<a href="help.htm" class="dropdown-toggle" data-toggle="dropdown">更多 <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>
											<a href="help.htm">Introduction Tour</a>
										</li>
										<li>
											<a href="help.htm">Project Organisation</a>
										</li>
										<li>
											<a href="help.htm">Task Assignment</a>
										</li>
										<li>
											<a href="help.htm">Access Permissions</a>
										</li>
										<li class="divider">
										</li>
										<li class="nav-header">
											Files
										</li>
										<li>
											<a href="help.htm">How to upload multiple files</a>
										</li>
										<li>
											<a href="help.htm">Using file version</a>
										</li>
									</ul>
								</li>
							</ul>
							<form class="navbar-search pull-left" action="">
								<input type="text" class="search-query span2" placeholder="Search" />
							</form>
							<ul class="nav pull-right">
								<li>
									<a href="profile.htm">@{{request.session.vipuser.username}}</a>
								</li>
								<li>
									<a href="{% url 'logout' %}">退出</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- 页头结束-->
			
            
            <div class="row">
				<div class="span3">
                    <!-- 侧边导航开始 -->
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
							<li class="nav-header">
								导航栏
							</li>
							<li class="active">
								<a href="{% url 'index' %}"><i class="icon-white icon-home"></i> 返回商城</a>
							</li>
                            <li class="nav-header">
								订单中心
							</li>
							<li>
								<a href="{% url 'vip_orders' %}"><i class="icon-folder-open"></i> 我的订单</a>
							</li>

							<li>
								<a href="#"><i class="icon-check"></i> 我的回购单</a>
							</li>
							<li>
								<a href="#"><i class="icon-check"></i> 我的意外保</a>
							</li>
							<li class="nav-header">
								个人中心
							</li>
							<li>
								<a href="{% url 'vip_index' request.session.vipuser.id %}"><i class="icon-envelope"></i> 浏览个人信息</a>
							</li>
							<li>
								<a href="{% url 'vip_edit' request.session.vipuser.id %}"><i class="icon-envelope"></i> 编辑个人信息</a>
							</li>
							<li>
								<a href="{% url 'vip_reset' request.session.vipuser.id %}"><i class="icon-file"></i> 重置密码</a>
							</li>
							
							<li>
								<a href="#"><i class="icon-file"></i> 我的收藏</a>
							</li>
							<li>
								<a href="#"><i class="icon-envelope"></i>消息提醒</a>
							</li>
							<li>
								<a href="#"><i class="icon-file"></i> 建议反馈</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#"><i class="icon-info-sign"></i> Help</a>
							</li>
																					
						</ul>
					</div><!-- 侧边导航结束 -->
			
				</div>
				<div class="span9">
					<!-- 主体开始 -->
					{% block mainbody %}
					{% endblock %}
                    <!-- 主体结束 -->
				</div>
			</div>
		</div>
		<script src="{% static 'myadmin/js/jquery.min.js' %}"></script>
		<script src="{% static 'myadmin/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'myadmin/js/site.js' %}"></script>
		
	</body>
</html>