{% extends "web/vip/Navigationbase.html" %}
	
	{% block mainbody %}
    <h3>
        会员信息管理
    </h3>
    <form id="edit-profile" action="{% url 'index' %}" class="form-horizontal" method="post">
		{% csrf_token %}
        <fieldset>
            <legend>浏览会员信息</legend>
            <div class="control-group">
                <label class="control-label" for="input01">账号：</label>
                <div class="controls">
					<input type="text" name="name"  disabled="true" class="input-xlarge" id="input01" value="{{ vipuser.username }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">真实姓名：</label>
                <div class="controls">
                    <input type="text" name="name" disabled="true" class="input-xlarge" id="input01" value="{{ vipuser.name }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">性别：</label>
                <div class="controls">
                    <input type="radio" name="sex" disabled="true" class="input-xlarge" id="input01" value="1" 
                    {% if vipuser.sex == 1 %}checked{% endif %} /> 男 <!--判断男女，checked单选选中按钮-->
                    <input type="radio" name="sex"  disabled="true" class="input-xlarge" id="input01" value="0"
                    {% if vipuser.sex == 0 %}checked{% endif %} /> 女
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">地址：</label>
                <div class="controls">
                    <input type="text" name="address"  disabled="true" class="input-xlarge" id="input01" value="{{ vipuser.address }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">邮编：</label>
                <div class="controls">
                    <input type="text" name="code" disabled="true" class="input-xlarge" id="input01" value="{{ vipuser.code }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">电话：</label>
                <div class="controls">
                    <input type="text" name="phone" disabled="true" class="input-xlarge" id="input01" value="{{ vipuser.phone }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">email邮箱：</label>
                <div class="controls">
                    <input type="text" name="email" disabled="true" class="input-xlarge" id="input01" value="{{ vipuser.email }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">状态：</label>
                <div class="controls">
                    <input type="radio" name="state" disabled="true" class="input-xlarge" id="input01" value="0" 
                    {% if vipuser.state == 0 %}checked{% endif %} /> 管理员 
                    <input type="radio" name="state" disabled="true" class="input-xlarge" id="input01" value="1" 
                    {% if vipuser.state == 1 %}checked{% endif %} /> 启用会员
                    <input type="radio" name="state" class="input-xlarge" id="input01" value="2" 
                    {% if vipuser.state == 2 %}checked{% endif %} /> 禁用用户
                </div>
            </div>                        
            <div class="form-actions" >
                <button type="submit" class="btn btn-primary">退出</button>
            </div> 
                
        </fieldset>
    </form>
{% endblock %}

